# ───────── Vite 앱 설정 ─────────
VITE_BASE_URL=
VITE_OAUTH_CLIENT_ID=
VITE_OAUTH_CLIENT_SECRET=
VITE_GA4_MEASUREMENT_ID=
VITE_CHANNELTALK_PLUGIN_KEY=

# ───────── AWS 자격 증명 및 리소스 ─────────
AWS_ACCESS_KEY_ID=
AWS_ACCESS_KEY_SECRET=
AWS_DEFAULT_REGION=
AWS_ROLE_TO_ASSUME=
USER_BUCKET_NAME=
USER_DISTRIBUTION_ID=
ADMIN_BUCKET_NAME=
ADMIN_DISTRIBUTION_ID=

# ───────── 원격 서버 배포(SCP/SSH 등) ─────────
REMOTE_IP=
REMOTE_PRIVATE_KEY=
REMOTE_SSH_PORT=22
REMOTE_USER=